html{
    touch-action: manipulation;
}
body{
    background-color: #f1f0ed;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #aeced9;
    display: flex;
}
.header h1{
    font-size: 30px;
    width: 90%;
    text-align: center;
}
#header-hamburger{
    cursor: pointer;
    background-color: #73b5b1;    ;
    width: 10%;
    aspect-ratio: 1/1;
    margin-left: auto;
    position: relative;
    z-index: 10;
    border-radius: 10px;
}
#header-hamburger span{
    display: inline-block;
    background: #fff;
    width: 50%;
    height: 4px;
    transition: all .4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#header-hamburger span:nth-of-type(1){
    top: 30%;
}
#header-hamburger span:nth-of-type(2){
    top: 50%;
}
#header-hamburger span:nth-of-type(3){
    top: 70%;
}
#header-hamburger.active span:nth-of-type(1){
    top: 50%;
    left: 25%;
    transform: rotate(-45deg);
    width: 50%;
}
#header-hamburger.active span:nth-of-type(2){
    opacity: 0;
}
#header-hamburger.active span:nth-of-type(3){
    top: 50%;
    left: 25%;
    transform: rotate(45deg);
    width: 50%;
}

/*ハンバーガーの具*/
#hamburgerWindow ul{
    position: fixed;
    margin: 0;
    right: 0;
    width: 60%;
    z-index: 100;

}
#hamburgerWindow .hamburgerWindow-list li{
    font-size: 30px;
    right: 0px;
    padding: 20px;
    border-bottom: 2px solid #73b5b1;
    background-color: #fff;
    list-style: none;
    display: none;
}

#hamburgerWindow.open .hamburgerWindow-list li{
    display: flex;
    animation-name: fadein;
    animation-duration: 0.5s;

}
@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.score_button button{
    margin: 0.5% 1.5%;
    font-size: 90px;
    width: 30%;
    height: 9%;
    border-radius: 30px;
    border: black solid 1px;
    box-shadow: 4px 4px 4px #dedad2;
}
.score_button .yellow{
    color:black;
    background-color: yellow;
}
.score_button .red{
    color: black;
    background-color: red;
}
.score_button .blue{
    background-color: blue;
    color:white;
}
.score_button .black{
    background-color: black;
    color:white;
}
.score_button .white{
    color:black;
    background-color: white;
}
.score_button .gray{
    color: black;
    background-color: gray;
}
.score_button.open button{
    display: none !important;
}
.scoreTable{
    margin: 0 30px;
    border-collapse: separate;
    border-spacing:10px;
}
th{
    font-size: 25px;
}
td{
    font-size: 40px;
    width: 80px;
    height: 60px;
    
    text-align: center;
    border:solid 1px;
    border-radius: 10px;
}
.scoreTable_sum{
    min-width: 140px;
}
.scoreActive{
    background-color: #dedad2;
}
.homeButton{
    position: fixed;
    color: #fff;
    background-color: #73b5b1;
    font-size: 50px;
    text-align:center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
}


