html{
    touch-action: manipulation;
}
body{
    background-color: #f1f0ed;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #aeced9;
}
.header h1{
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

/*ハンバーガーの具*/
#recordWindow ul{
    position: absolute;
    margin: 0;
    bottom: 120px;
    right: 0;
    max-height: 1000px;
    width: 100%;
    overflow-y: scroll;
}
#recordWindow .recordWindow-list li{
    font-size: 30px;
    right: 0px;
    padding: 20px;
    border-bottom: 2px solid #73b5b1;
    background-color: rgba(255,255,255,0.9);
    list-style: none;
    display: none;
}

#recordWindow.open .recordWindow-list li{
    display: flex;
    animation-name: fadein;
    animation-duration: 0.5s;

}
@keyframes fadein{
    0%{
        opacity: 0;
        transform: translatey(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.score_button button{
    margin: 0.5% 1.5%;
    font-size: 90px;
    width: 30%;
    height: 9%;
    border-radius: 30px;
    border: black solid 1px;
    box-shadow: 4px 4px 4px #dedad2;
    display: none;
}
.score_button .yellow{
    color:black;
    background-color: yellow;
}
.score_button .red{
    color: black;
    background-color: red;
}
.score_button .blue{
    background-color: blue;
    color:white;
}
.score_button .black{
    background-color: black;
    color:white;
}
.score_button .white{
    color:black;
    background-color: white;
}
.score_button .gray{
    color: black;
    background-color: gray;
}
.score_button.open button{
    display: inline;
}
.scoreTable{
    margin: 0px 30px;
    border-collapse: separate;
    border-spacing:10px;
}
th{
    font-size: 25px;
}
td{
    font-size: 40px;
    width: 80px;
    height: 60px;
    
    text-align: center;
    border:solid 1px;
    border-radius: 10px;
}
.scoreTable_sum{
    min-width: 140px;
}
.scoreActive{
    background-color: #dedad2;
}
.homeButton{
    position: fixed;
    color: #fff;
    background-color: #73b5b1;
    font-size: 50px;
    text-align:center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
}




.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 120px;
    background-color: rgba(241,240,237,0.9);
}
.footer span{
    padding:10px 70px ;
    color:#726854;
    font-size: 100px;
}

.material-icons.delete_button.open{
    display: inline;
    position: fixed;
    bottom: 150px;
    right: 30px;
    padding: 30px 30px 30px 25px;
    border-radius: 100%;
    color: #f1f0ed;
    background-color: #73b5b1;
    font-size: 60px;
}
.material-icons.delete_button{
    display: none;
}


.memo.open{
    display: block;
}
.memo{
    display: none;
}
.setting.open{
    display: block;
}
.setting{
    display: none;
}